In [2]:
l = [1, 2, 4]
l.append(4)

In [28]:
print('hello')
def sayali():
    """
    this is sayali's method
    """
    print('inside')
print('outside')

print(sayali.__doc__)
sayali()

hello
outside

    this is sayali's method

inside

In [40]:
a = 3
b = 3
print(id(a))
print(id(b))
print(a == b)
a = [1,2,3]
b = [1,2,3]
print(a == b)

140735960343248
140735960343248
True
True

In [41]:
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [46]:
l = [-12, -3, 24, 53, 1]
positives = [i for i in l if i % 2 == 0]
print(positives)
new_lst = [(i, i**2) for i in l if i >= 0]
print(new_lst)

[-12, 24]
[(24, 576), (53, 2809), (1, 1)]

In [51]:
mat = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

transposed = [];
for i in range(4):
    lst = [];
    for j in mat:
        lst.append(j[i])
    transposed.append(lst)
        
print(mat)
print(transposed)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [52]:
mat = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

transposed = [[row[i] for row in mat] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [3]:
l = [1,2,3,12,4,121,-1]
print(l)
l.append(-43);
print(l)
l.append([-32,4])
print(l)
l.extend([-32,4])
print(l)
del l[len(l)-3]
print(l)
l.remove(2)
print(l)
val = l.pop(3)
print(val, l)
l.insert(1, 132)
print(l)
l.reverse()
print(l)
print(sorted(l))
print(sorted(l, reverse = True))
print(l)
l.sort()
print(l)
l.reverse()
print(l)

[1, 2, 3, 12, 4, 121, -1]
[1, 2, 3, 12, 4, 121, -1, -43]
[1, 2, 3, 12, 4, 121, -1, -43, [-32, 4]]
[1, 2, 3, 12, 4, 121, -1, -43, [-32, 4], -32, 4]
[1, 2, 3, 12, 4, 121, -1, -43, -32, 4]
[1, 3, 12, 4, 121, -1, -43, -32, 4]
4 [1, 3, 12, 121, -1, -43, -32, 4]
[1, 132, 3, 12, 121, -1, -43, -32, 4]
[4, -32, -43, -1, 121, 12, 3, 132, 1]
[-43, -32, -1, 1, 3, 4, 12, 121, 132]
[132, 121, 12, 4, 3, 1, -1, -32, -43]
[4, -32, -43, -1, 121, 12, 3, 132, 1]
[-43, -32, -1, 1, 3, 4, 12, 121, 132]
[132, 121, 12, 4, 3, 1, -1, -32, -43]

In [71]:
l += [4,1, -11]
print(l)

[132, 121, 12, 4, 3, 1, -1, -32, -43, 4, 1, -11]

In [73]:
for i in l:
    print(i)

132
121
12
4
3
1
-1
-32
-43
4
1
-11

In [76]:
if 1132 in l:
    print(l)
else:
    print('no')

no

In [10]:
print(l[-4:-15:-1])

[1, 3, 4, 12, 121, 132]

In [80]:
squares = [i**2 for i in l]
print(squares)

[17424, 14641, 144, 16, 9, 1, 1, 1024, 1849, 16, 1, 121]

In [81]:
tup = [(i, i*2) for i in l]
print(tup)

[(132, 264), (121, 242), (12, 24), (4, 8), (3, 6), (1, 2), (-1, -2), (-32, -64), (-43, -86), (4, 8), (1, 2), (-11, -22)]

In [82]:
new_lst = [i for i in l if i >= 0]
print(new_lst)

[132, 121, 12, 4, 3, 1, 4, 1]

In [88]:
mat = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]
print(mat)

transposed = [];

for i in range(4):
    lst = [];
    for row in mat:
        lst.append(row[i])
    transposed.append(lst)
print(transposed)

trans= [ [row[i] for row in mat] for i in range(4)]
print(trans)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [26]:
tup = (1, 2, 4)
print(tup)
print(type(tup))
t = (1)
print(type(t))
t = (1,)
print(type(t))
print(tup[1])
tup = (1, 3, (2,4), [1,2,4])
tup[3][1] = 'hello'
print(tup)
t = (('he',) * 4)
print(t)

(1, 2, 4)
<class 'tuple'>
<class 'int'>
<class 'tuple'>
2
(1, 3, (2, 4), [1, 'hello', 4])
('he', 'he', 'he', 'he')

In [31]:
s = set()
s.add(2)
print(s)
s.update([12,3], {3,12})
print(s)

{2}
{2, 3, 12}

In [37]:
print(s[1])

TypeError: 'set' object is not subscriptable

In [43]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
print(set1 | set2)
print(set1.union(set2))
print(set1 & set2)
print(set1.intersection(set2))
print(set1 - set2)
print(set1.difference(set2))
print(set1 ^ set2)
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2}
{1, 2}
{1, 2, 6, 7}
{1, 2, 6, 7}